.checkbox {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ccc;
  cursor: pointer;
}

.checkbox input {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 100%;
  height: 100%;
  border-radius: 0.15em;
}

.checkbox input:checked {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: rgb(92, 76, 230);
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
