.item {
  width: 100%;
  height: 100%;
  position: absolute;
  color: pink;
}

.item input {
  position: absolute;
  width: 100%;
  color: rgb(92, 76, 230);
  height: 100%;
  accent-color: currentcolor;
  border: 1px solid gray;
  outline: none;
  border: none;
  margin: 0;
}
