**/node_modules/**
/.changelog

**/yarn.lock
**/package-lock.json
.npm/

**/dist/
**/build/

# Vev CLI folder
**/.vev

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*-debug.log

# Intellij project settings
/.idea/

# os
.vscode/
**/.DS_Store
*.tgz

## Vev
.vev/