.button {
  width: 100%;
  height: 100%;
  background: rgb(70, 55, 206);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background 200ms;
  outline: none;
  text-align: center;
}

.button:disabled {
  cursor: not-allowed;
  background: rgb(173, 173, 173);
}

.button svg {
  width: 20px;
}

.button:hover {
  background: rgb(92, 76, 230);
}
