.label {
    border-radius: 50%;
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image {
    width: 100%;
    user-select: none;
    cursor: crosshair;
    object-fit: contain;
    border-radius: 8px;
}

.active {
    outline: 1px #1d1d1d1d solid;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}

.label:hover {
    outline: 1px #1d1d1d1d solid;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}
