.wrapper {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: inherit;
}

.wrapper > vev {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

.slide.active * {
  pointer-events: all;

  * {
    pointer-events: all;
  }
}
