:host {
  contain: paint;
}
.wrapper {
  /* animation-name: reveal;
  animation-timing-function: linear;
  animation-duration: auto;
  animation-fill-mode: both;
  animation-timeline: view(block);
  animation-range: exit-crossing 0% entry-crossing 100%; */
  height: 100%;
  display: flex;
  /** Flex direction column to make scroll links work */
  flex-direction: column;
  overflow: clip;
  width: calc(var(--slide-count) * 100vw);
}
.wrapper.visible {
  flex-direction: row;
}

.wrapper.edit-slides {
  display: grid;
}
.edit-slides .content {
  grid-area: 1/1;
  position: static;
  margin: 0 0 0 calc(100vw * var(--index));
}
.edit-slides .content:not(.selected) {
  opacity: 0.5;
  filter: blur(4px);
}

.content {
  position: sticky;
  top: 0;
  height: 100%;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}

/* .stack,
.fade,
.clip {
  display: flex;
  flex-direction: column;
} */

/* .clip,
.fade {
  margin-top: calc(-1 * var(--index) * 100vh);
} */

/* .horizontal-scroll {
  display: flex;
  flex-direction: row;
}
.horizontal-scroll:not(.edit-slide) {
  width: calc(var(--slide-count) * 100vw);
} */

/* 
@keyframes reveal {
  0% {
    translate: 0 0;
  }
  100% {
    translate: calc(-100% + 100vw) 0;
  }
} */
