.wrapper {
  position: relative;
}

.label {
  display: block;
  width: 100%;
}

.select {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(176, 176, 176);
  appearance: none;
}

.select:focus {
  border: 1px solid rgb(176, 176, 176);
  outline: none;
}

.select::placeholder {
  color: #888;
}

.arrow {
  fill: rgb(176, 176, 176);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}
