.frame {
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.empty {
  background-color: #eee;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #909090;
  font-family: 'source sans pro', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.emptyLink {
  color: #80abff;
  cursor: pointer;
}
