@property --slide-offset {
    syntax: "<number>";
    initial-value: 1;
    inherits: false;
}

@property --mask-x {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
}

@property --mask-y {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
}

@property --slide-scale {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
}

:host {
    contain: paint;
}

.wrapper {
    display: flex;
    flex-direction: row;
    overflow: clip;
    width: 100%;
    /* This is to allow auto height of vev container*/
    height:calc(100vh  * var(--slide-count));
    /** If not auto height this will clamp it to be max 100% of container */
    max-height:100%;
    /** If not auto height this will clamp it to be min 100% of container and 100px if auto height and no slides */
    min-height:max(100%,100px);
}

@supports not (overflow: clip) {
    .wrapper {
        clip-path: inset(0 0 0 0);
    }
}

.wrapper.row {
    flex-direction: row;
    width: calc(var(--slide-count) * 100%);
}

.wrapper.reverse {
    flex-direction: row-reverse;
}

.wrapper.column {
    flex-direction: column;
}

.wrapper.grid {
    display: grid;
}

.grid .content {
    margin: 0;
    grid-area: 1/1;
}

/* .wrapper.edit-slides {
    display: grid;
}

.edit-slides .content {
    grid-area: 1/1;
    position: static;
    margin: 0 0;
} */

.content {
    position: sticky;
    top: 0;
    height: 100%;
    min-width: calc(100% / var(--slide-count));
    width: 100%;
    min-height:100px;
    max-height: min(100%,100vh);
    max-width: min(100vw, 100%);
    /* max-height: min(100vh, 100%); */
}

/* .row .content{
    width: calc(var(--slide-duration) * 1%);
}

.grid .content{
    height: calc(var(--slide-duration) * 1%);
} */

.warningOverlay{
    position: absolute;
    inset:0 0 0 0;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center; 
    font-size: 24px;
    z-index: 100;
}