.iridescenceContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

.canvas {
    width: 100%;
    height: 100%;
    display: block;
    touch-action: none;
  }
 