.wrapper {
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  outline: none;
  width: 100%;
  height: 100%;
  filter: none;
}

.ie .video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);

  h3 {
    font-weight: 400;
    font-size: 16px;
  }
}
