.wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.label {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    min-width: 3.5vw;
    min-height: 3.5vw;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainComponentLabel {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    min-width: 3.5vw;
    min-height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.captionWrapper {
    font-size: 1vw;
    z-index: 1000;
    color: white;
    border-radius: 0.2vw;
    padding: 0.5rem;
    min-width: 10vw;
    background: rgba(0, 0, 0, 0.57);
    position: absolute;
    top: 4vw;
    display: flex;
    justify-content: center;
}
