.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transform-style: preserve-3d;
}

/* Dirty hack to fix that some times slide is not selectable */
.slide > vev {
  z-index: 1;
}
