.radioButton {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  border-radius: 50%;
  transform: translateY(-0.075em);
  cursor: pointer;
  position: relative;
}

.radioButton:checked:before {
  position: absolute;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  content: " ";
  background-color: rgb(92, 76, 230);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
