name: Deploy widgets

on:
  push:
    branches:
      - main

jobs:
  deploy-widgets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get widgets with changes
        id: changed
        run: |
          folders=$(git diff --name-only HEAD^ HEAD | cut -d/ -f1 | sort -u)
          folders_line=$(echo "$folders" | tr '\n' ' ')
          echo "changed_folders=$folders_line" >> $GITHUB_OUTPUT

      - name: Install CLI
        run: npm i -g @vev/cli

      - name: Deploy widgets
        env:
          VEV_TOKEN: ${{ secrets.VEV_DEPLOY_TOKEN }}
        run: |
          for folder in ${{ steps.changed.outputs.changed_folders }}; do
            echo "Checking $folder"
            if [ -f "$folder/vev.json" ]; then
              echo "Deploying $folder"
              (cd "$folder" && vev deploy --token "$VEV_TOKEN" -m "${{ github.sha }}")
            else
              echo "Skipping $folder (no vev.json)"
            fi
          done

